/*
*   Colors
*/

/* region White Theme */
$main: #00AABB;
$font-color:#5E5E5E;
$main-light-grey: #FBFBFB;
$font-color-yellow: #FFB23F;
//$black: #1E1E1E;
//$grey: #F6F6F6;
//$peach: rgba(255, 118, 67, 0.1);
//$fail: #F84343;
//$fail-light: rgba($fail, .15);
//$success: #53DB8C;
//$disabled: #D8D8D8;
//$white: #fff;
//$box-shadow-color: rgba(255, 118, 67, 0.25);
/* endregion */

/*
*  Window Break-Points
*/
$mobile: 575px;
$tablet: 768px;
$tablet-xl: 991px;
$notebook: 1366px;
